# Compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# Django related
*.log
*.pot
*.pyc

# Untrack pip since we have a requirements.txt
Pipfile
Pipfile.lock

# Stop tracking the DB - sensitive data!
*.sqlite3

# Node-JS
node_modules/

# IDE specific
.vscode/
.idea